<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=2.1.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <phpNet>
    <paths>
      <set name="DynamicWrappers" value=".\" />
      <set name="Libraries" value=".\" />
      <set name="ExtManager" value=".\" />
      <set name="ExtWrappers" value=".\" />
      <set name="ExtNatives" value=".\" />
    </paths>
    <!-- Add Phalanger configuration entries here. -->
    <classLibrary>
      <add assembly="PhpNetClassLibrary, Version=2.1.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
      <add assembly="PhpNetXmlDom, Version=2.1.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="dom"/>
      <add assembly="php_bz2.mng, Version=2.1.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="bz2" />
      <add assembly="php_zlib.mng, Version=2.1.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="zlib" />
      <add assembly="php_gd2.mng, Version=2.1.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="gd2" />
    </classLibrary>
  </phpNet>
</configuration>