<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<!-- Add .NET configuration entries here. -->

	<phpNet>
		<!-- Add Phalanger configuration entries here. -->
    <classLibrary>
      <add assembly="php_bz2.mng, Version=2.1.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="bz2" />
      <add assembly="php_zlib.mng, Version=2.1.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="zlib" />
      <add assembly="php_gd2.mng, Version=2.1.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="gd2" />
      <!-- add url="ICSharpCode.SharpZipLib.dll" if Phalanger supports $string->ToArray()/-->
    </classLibrary>
	</phpNet>
	
</configuration>